.title_cart{margin:30px 0;margin-top: 10px;font-weight: 500;font-size: 20px;
font-family: 'LibreFranklin-Medium';


}
.title_cart a{
    float: right;font-weight: 400;font-size: 16px;
}
    .dongsanpham{
        padding:20px;overflow: hidden;
    }
    .khung_right_cart{ background: rgba(246, 246, 246, 1);
padding:30px 20px;
box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.15);

    }
    .khung_dathangngay p{color: #909090;}
   .khung_dathangngay p b{
        color: rgba(59, 181, 74, 1);float: right;

    }
    .dathangngay a{
        text-transform: uppercase; background-color: rgba(59, 181, 74, 1);padding: 9px 20px;color: #fff;font-size: 20px;font-family: 'LibreFranklin-SemiBold'; width: 100%;display: block;text-align: center;
    }
    .magiamgia{margin-bottom: 20px;}
    .magiamgia span{font-family: 'LibreFranklin-SemiBold';font-size: 10px;}
    .dongsanpham{
        background-color: #F6F6F6;box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.15);
border-radius: 8px;margin-bottom: 37px;
    }
    .dongsanpham:hover{
      border:1.5px solid #3BB54A;
    }
    .content_cart .cot1{padding:0;}
      .content_cart .cot2{padding-left:90px;padding-right: 0;}
      .img-sp-cart{width: 14%;float: left;}
      .name_sp_cart{font-size: 16px;line-height: 19px;font-weight: 400;margin-bottom: 18px;}
      .noidung_donhang{float: left;width: 86%;padding-left: 20px}
      .dongia{color: rgba(144, 144, 144, 1);font-size: 13px;font-weight: 400}
      .noidung_donhang .old_price{font-size: 13px;}
      .noidung_donhang .price{margin:10px 0;}
      .thanhtien{color: rgba(144, 144, 144, 1);font-size: 13px;font-weight: 400}
      .giatien{color: #3BB54A;     font-size: 15px;
    font-family: 'LibreFranklin-SemiBold';margin-top: 30px;
    line-height: 19px;}
    .delete_cart img{max-width: 20px;margin-left: 6px;}
    .tanggiamsl_cart{display: inline-flex;align-items: center;}
    .tanggiamsl_cart input{max-width: 40px;text-align: center;border-color:#dfdfdf;border: 1px solid #dfdfdf;padding-left: 3px;}
        .tanggiamsl_cart input::-webkit-input-placeholder {
text-align: center;
}
.qtymin{
    background: rgba(223, 223, 223, 1);min-width: 25px;text-align: center;margin:0 7px;
}
.qtyplus{
    background: rgba(223, 223, 223, 1);min-width: 25px;text-align: center;margin:0 7px;
}
.qtymin:hover{cursor: pointer;}
.qtyplus:hover{cursor: pointer;}
.magiamgia input{max-width: 119px;height: 19px;color: rgba(144, 144, 144, 1);font-size: 10px;background-color: #fff0;border: 1px solid rgba(144, 144, 144, 1);border-radius: 4px;    text-align: center;float: right;
}
.magiamgia img{margin-right: 6px;}
.soluong_order p:first-child{
  color: rgba(144, 144, 144, 1);
}

        
        .title-block {
            font-size: 15px;
            line-height: 19px;
            margin-bottom: 15px;
            color: #80879F;
        }
        .sort-desc {
            color: #80879F;
            font-size: 15px;
            line-height: 19px;
            margin-bottom: 15px
        }
        .full-desc {
            padding: 15px;
            font-size: 16px;
            border: 1px solid rgba(41, 43, 183, 0.95);
            border-radius: 4px;
            background: linear-gradient(0.28deg, #E8E8FF 3.15%, rgba(255, 255, 255, 0) 23.41%);
            position: relative;
        }
        .full-desc:after {
            content: "";
            position: absolute;
            top: -8px;
            left: 40px;
            transform: rotate(45deg);
            border-top-left-radius: 4px;
            border-left: 1px solid rgba(41, 43, 183, 0.95);
            border-top: 1px solid rgba(41, 43, 183, 0.95);
            width: 15px;
            height: 15px;
            background: #fafaff;
        }
       
        .tabs-payments .choose-payments {
            background: #F2F5FF;
            border-radius: 4px;
            padding: 15px;
            display: inline-block;
            width: 100%;
        }
        .tabs-payments .choose-payments .bank-name {
            margin-bottom: 10px;
            display: inline-block;
            width: 100%;
        }
        .tabs-payments .choose-payments [class*="title-"] {
            color: #000F40;
            font-size: 16px;
            line-height: 38px;
        }
        .tabs-payments .choose-payments .bank-option {
            float: left;
            width: 100%;
            position: relative;
        }
        .tabs-payments .choose-payments .bank-option .select-installment {
            padding: 0 20px 0 10px;
            background: #fff;
            cursor: pointer;
            -webkit-appearance: none;
            border: 1px solid #BBBBBB;;
            font-size: 16px;
            color: #000F40;
            border-radius: 7px;
            font-family: inherit;
            height: 38px;
            line-height: 36px;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 100%;
            outline: none;
        }
        .tabs-payments .choose-payments .bank-option i {
            position: absolute;
            right: 10px;
            top: 10px;
            color: #000F40;
            font-size: 18px;
        }
        .payment-method-checkbox.active .desc-method {
            display: block;
        }
        .installment-result {
            position: relative;
            border: 1px solid rgba(41, 43, 183, 0.95);
            background: #fff;
            border-radius: 4px;
            margin-top: 10px;
        }
        .installment-result:before {
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            border-top: 1px solid rgba(41, 43, 183, 0.95);
            border-left: 1px solid rgba(41, 43, 183, 0.95);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            top: -7px;
            left: 10%;
            background: #fff;
            border-top-left-radius: 4px;
        }
        .installment-result ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }
        .installment-result ul li {
            font-size: 16px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            padding: 15px 20px;
            margin-bottom: 0;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
        .installment-result ul li:nth-child(2n) {
            background-color: #f7f7f7;
        }
        .installment-result ul li:first-child {
            padding-top: 10px;
        }
        .installment-result ul li .label,
        .installment-result ul li .infor{
            -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
        }
        .installment-result ul li .infor {
            text-align: right;
        }
        .desc-method {
            display: none;
            padding-top: 10px;
            margin-left: 57px;
            margin-bottom: 15px;
        }
        .tablinks.active:after {
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid rgba(236, 224, 245, 0.95);
            content: "";
            position: absolute;
            bottom: -17px;
            left: calc(50% - 10px);
        }
        #vcb.tabcontent {
            display: block;
        }
        .tabcontent {
            display: none;
            background: linear-gradient(180deg, #EAE6F5 15.41%, rgba(247, 244, 255, 0) 71.62%);
            border: 1px solid rgba(236, 224, 245, 0.95);
            padding: 10px 15px;
            margin-top: 15px;
            box-sizing: border-box;
            color: #000F40;
            border-radius: 4px;
        }
        .tabs {
            display: flex
        }
        .tablinks img {
            max-width: 120px
        }
        .tablinks {
            padding: 10px;
            border: 1px solid #eaeaea;
            margin-right: 15px;
        }
        .tablinks.active {
            border: 1px solid #3BB54A;
            border-radius: 4px;
            position: relative;
            box-shadow: 2px 4px 4px 1px #F2F2FF;
        }
        .check-box {
    position: relative;
    border-radius: 4px;
    margin-bottom: 0;box-shadow: 2px 2px 9px 0px rgb(0 0 0 / 15%);
    border: 1px solid #ececec;
    background-color: #fff;
    padding: 10px 15px 10px 18px;
    color: #000f40;border-radius: 9px;      border:2px solid #3BB54A;
    width: 100%;
    cursor: pointer;margin-bottom: 25px;
}
.check-box p:first-child img{
max-width: 40px;margin-right: 7px;
}
.check-box p:last-child {
    margin-bottom: 0;
    position: relative;


}
.mota_payment{
        color: rgba(114, 114, 114, 1);    font-size: 12px;
}
.mota_payment img{float: right;}

.check-box p:last-child img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.check-box input {
    position: absolute;
    opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    cursor: pointer;
}
body .check-box .check {
    top: 15px;
}
.check-box .check {
    border: 1px solid #ececec;
    position: absolute;
    top: calc(50% - 11px);
    right: 20px;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    z-index: 2;
}
.check-box input:checked~.check {
    background-color: #3BB54A;
    border-color: #3BB54A;
}
.check-box input:checked~.check:after {
    display: block;
}
.check-box .check:after {
    content: "";
    position: absolute;
    display: none;
    top: 3px;
    left: 8px;
    width: 6px;
    height: 12px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;transform: rotate(45deg);
    }
    .luuy p{font-size: 20px;font-family: 'LibreFranklin-Medium';margin-bottom: 20px;}
    .luuy input{background-color: #F3F3F3;border-radius: 8px;border:1px solid #909090;min-height: 46px;font-size: 15px;padding-left: 15px;width: 100%;margin-bottom: 30px;}
.title_dathang{    font-size: 20px;
    font-family: 'LibreFranklin-Medium';
    margin-bottom: 20px;}
.thongtindathang{margin-bottom: 20px;}

#create_form .dathang_ngay button{
  border-radius: 8px;  background-color: #3BB54A;border:none;width: 100%;color: #fff;text-align: center;text-transform: uppercase;padding:15px 20px;
 font-size: 20px;
font-family: 'LibreFranklin-VariableFont_wght';-webkit-text-stroke-width: 1px;

}
.xuathoadon .check-box{border:none;     margin-bottom: 10px;   box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 0%);padding:0;padding-left: 30px;}
.xuathoadon .check-box .check{
top:0px;right:auto;left:0;
}
.xuathoadon p{color: rgba(144, 144, 144, 1)}
.tinhtien .col_left{width: 50%;float: left;font-size: 16px;margin-bottom: 20px;}
.tinhtien .col-right{width: 50%;float: left;font-size: 18px;text-align: right;margin-bottom: 20px;}
.tinhtien .col-right b{line-height: 36px;font-size: 30px;font-family: 'LibreFranklin-SemiBold';color: #3BB54A;}
@media(max-width: 767px){
  .content_cart{
    padding:0 15px;
  }
.img-sp-cart {
    width: 100%;
    float: left;    background-size: 151px!important;
    min-height: 170px!important;
}
.noidung_donhang {
    width: 100%;
    padding-left: 20px;
}

.giatien {

    margin-top: 0;
}
.content_cart .cot2 {
    padding-left: 0;
    padding-right: 0;margin-bottom: 30px;
}
.content_cart .cot1{
  margin-bottom: 10px;
}







}


.woocommerce-cart main#main, .woocommerce-checkout main#main, body.woocommerce-checkout .mgg_main {
    background: #f0f0f0;
    margin: 0 !important;
    padding: 20px 0 60px;
}
body.woocommerce-checkout.page .post-content form.woocommerce-cart-form {
    padding: 20px;
    border-bottom: 1px solid #d1d1d1;
    margin: 0;
}
body.woocommerce-checkout.page .post-content > .woocommerce {
    position: relative;
}

body.woocommerce-checkout.page .post-content form.woocommerce-cart-form {
    padding: 20px;
    border-bottom: 1px solid #d1d1d1;
    margin: 0;
}
body.woocommerce-checkout.page .post-content .cart_top_action {
    font-size: 14px;
    position: absolute;
    bottom: 100%;
    padding-bottom: 5px;
    width: 100%;
}
body.woocommerce-checkout.page .post-content .cart_top_action > span {
    float: right;
    display: block;
    position: relative;
    top: 4px;
}
body.woocommerce-checkout.page .post-content a.devvn_buy_more {
    position: relative;
}
.post-content a {
    color: #54aa00;
}
a:active, a:hover {
    color: #000;
    outline: 0;
}
.woocommerce-cart main#main,
.woocommerce-checkout main#main,
body.woocommerce-checkout .mgg_main{
    background: #f0f0f0;
    margin: 0 !important;
    padding: 20px 0 60px;
}
.woocommerce table.shop_table td {
    padding-left: 0;
    padding-right: 0;
}
body.woocommerce-checkout.page .post-content .shop_table .actions .coupon button.button {
    color: #fff;
    background: #468f00;
}
.woocommerce-checkout h1.post-title, .woocommerce-checkout #breadcrumbs {
    display: none;
}
.woocommerce-checkout #colophon {
    margin-top: 0;
}
.woocommerce-cart .row.custom_flatsome_breadcrumb,
.woocommerce-checkout .row.custom_flatsome_breadcrumb {
    display: none;
}
.shop_table .coupon {
    display: none !important;
}
.woocommerce .product #product_top .thong-tin-san-pham .mua-ngay form .single_add_to_cart_button span {
    text-transform: none;
    display: block;
    font-size: 14px;
}
label[for="show_coupon"] svg {
    fill: #55aa00;
    width: 20px;
    height: 20px;
    max-width: inherit;
    max-height: inherit;
    display: inline-block;
    margin: 0 5px 0 0;
    position: relative;
    top: 2px;
    vertical-align: text-bottom;
}
.woocommerce .product #product_top .thong-tin-san-pham .mua-ngay form .single_add_to_cart_button {
    background: #f59000;
    border-radius: 5px;
    width: 100%;
    line-height: 22px;
    padding: 8px 0;
    border: 0;
}
.woocommerce div.product form.cart {
    padding: 0 !important;
}
.shop_table #show_coupon:checked ~ .coupon{
    -js-display: flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
input#show_coupon {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
label[for="show_coupon"] {
    text-align: left;
    color: #55aa00;
    margin: 0;
    font-size: 14px;
    cursor: pointer;
}
.woocommerce-checkout main#main div#content .large-12.col .col-inner,
body.woocommerce-checkout.page .post-content{
    display: block;
    background: #fff;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    max-width: 600px;
    margin: 30px auto 0;
}
body.woocommerce-checkout.page .post-content form.woocommerce-cart-form {
    padding: 20px;
    border-bottom: 1px solid #d1d1d1;
    margin: 0;
}
.devvn_cart_item:after {
    content: "";
    display: table;
    clear: both;
}
.devvn_cart_item {
    -js-display: flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}
.devvn_cart_item_thumb {
    width: 86px;
    text-align: center;
}
.devvn_cart_item_thumb a.remove {
    display: inline-block;
}
.devvn_cart_item_infor {
    padding: 0 10px;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-negative: 1;
    -ms-flex-preferred-size: auto!important;
}
.devvn_cart_item_infor > a {
    font-size: 14px;
    font-weight: 700;
    color: #333;
}
.devvn_cart_item_thumb img,
.shop_table .cart_item td.product-thumbnail img{
    border: 1px solid #ececec;
    margin-bottom: 5px;
    width: 60px;
    height: auto;
}
.devvn_cart_item_price {
    text-align: right;
}
.price_wrap span {
    font-weight: 400;
}
.quantity.buttons_added.form-minimal .minus.button.is-form {
    border-radius: 5px 0 0 5px;
}
.quantity.buttons_added.form-minimal .plus.button.is-form {
    border-radius: 0 5px 5px 0;
}
.woocommerce-message.message-wrapper {
    margin: 0;
    padding: 10px 20px 0;
    list-style: none;
}
.woocommerce-checkout main#main div#content .large-12.col .col-inner .woocommerce-notices-wrapper ul,
.woocommerce-checkout main#main div#content .large-12.col .col-inner .woocommerce-notices-wrapper.woocommerce-message.message-wrapper,
body.woocommerce-checkout.page .post-content .woocommerce-notices-wrapper ul,
body.woocommerce-checkout.page .post-content .woocommerce-notices-wrapper.woocommerce-message.message-wrapper
{
    margin: 0;
    padding: 10px 20px;
    border-bottom: 1px solid #ececec;
    list-style: none;
}
.woocommerce-checkout main#main div#content .large-12.col .col-inner .woocommerce-notices-wrapper ul li,
body.woocommerce-checkout.page .post-content .woocommerce-notices-wrapper ul li{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
body.woocommerce-checkout.page .post-content .shop_table .cart_item td {
    padding: 10px 0 5px;
    vertical-align: top;
}
body.woocommerce-checkout.page .post-content .shop_table .cart_item td.product-thumbnail {
    text-align: center;
    border: 0;
}
body.woocommerce-checkout.page .post-content .shop_table .cart_item td.product-thumbnail .product-remove a {
    display: inline-block;
}
body.woocommerce-checkout.page .post-content .shop_table .cart_item td.product-name a {
    font-size: 15px;
    font-weight: 700;
    color: #333;
}
body.woocommerce-checkout.page .post-content .shop_table .cart_item td.product-name {
    padding: 10px 20px 5px;
    border: 0;
}
body.woocommerce-checkout.page .post-content td.product-quantity .product-price {
    margin-bottom: 8px;
}
body.woocommerce-checkout.page .post-content .shop_table .actions .coupon {
    -js-display: flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}
body.woocommerce-checkout.page .post-content .shop_table .actions .coupon input#coupon_code {
    -ms-flex: 1;
    flex: 1;
    -ms-flex-negative: 1;
    -ms-flex-preferred-size: auto!important;
    height: 40px;
    margin: 0;
    box-shadow: none;
    border-radius: 5px 0 0 5px;
    border-right: 0;
}
body.woocommerce-checkout.page .post-content .shop_table .actions .coupon button.button {
    margin: 0;
    height: 40px;
    text-transform: none;
    font-weight: 400;
    border-radius: 0 5px 5px 0;
    font-size: 14px;
}
body.woocommerce-checkout.page .post-content table.shop_table.woocommerce-checkout-review-order-table tfoot td {
    text-align: left;
}
body.woocommerce-checkout.page .post-content table.shop_table.woocommerce-checkout-review-order-table tfoot tr.cart-discount.coupon-test {
    background: transparent;
    border: 0;
    font-size: 14px;
}
body.woocommerce-checkout.page .post-content table.shop_table.woocommerce-checkout-review-order-table tfoot td, 
body.woocommerce-checkout.page .post-content table.shop_table.woocommerce-checkout-review-order-table tfoot th {
    font-size: 16px;
    padding: 10px 0;
    border: 0;
}
body.woocommerce-checkout.page .post-content table.shop_table.woocommerce-checkout-review-order-table tfoot span.amount {
    font-weight: 400;
}
body.woocommerce-checkout.page .post-content table.shop_table.woocommerce-checkout-review-order-table tfoot tr.cart-discount.coupon-test td:nth-child(2) {
    white-space: nowrap;
}
body.woocommerce-checkout.page .post-content table.shop_table.woocommerce-checkout-review-order-table tfoot tr.order-total td:nth-child(1), 
body.woocommerce-checkout.page .post-content table.shop_table.woocommerce-checkout-review-order-table tfoot tr.order-total td span.amount {
    font-weight: 700;
}
body.woocommerce-checkout.page .post-content table.shop_table.woocommerce-checkout-review-order-table tfoot tr.order-total td span.amount {
    color: #F30C28;
}
body.woocommerce-checkout.page .post-content table.shop_table.woocommerce-checkout-review-order-table tfoot td:nth-child(2) {
    text-align: right;
}
body.woocommerce-checkout.page .post-content table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents {
    margin: 0;
}
body.woocommerce-checkout.page .post-content .woocommerce-billing-fields {
    padding-top: 0;
    border: 0;
}
body.woocommerce-checkout.page .post-content form.checkout.woocommerce-checkout div#customer_details {
    display: block;
}
.woocommerce-checkout main#main div#content .large-12.col .col-inner .woocommerce-notices-wrapper ul, .woocommerce-checkout main#main div#content .large-12.col .col-inner .woocommerce-notices-wrapper.woocommerce-message.message-wrapper, body.woocommerce-checkout.page .post-content .woocommerce-notices-wrapper ul, body.woocommerce-checkout.page .post-content .woocommerce-notices-wrapper.woocommerce-message.message-wrapper {
    padding-left: 42px !important;
}
.woocommerce-checkout .woocommerce-error::before, 
.woocommerce-checkout .woocommerce-info::before, 
.woocommerce-checkout .woocommerce-message::before {
    top: 6px;
    left: 15px;
}
body.woocommerce-checkout.page .post-content > .woocommerce:nth-child(3) .woocommerce-notices-wrapper {
    display: none;
}
body.woocommerce-checkout.page .post-content  form.checkout.woocommerce-checkout {
    padding: 10px 20px;
}
body.woocommerce-checkout.page .post-content form.checkout.woocommerce-checkout div#customer_details > div {
    padding: 0 !important;
}
body.woocommerce-checkout.page .post-content p#order_comments_field textarea {
    height: 94px;
    min-height: auto;
    width: 100% !important;
}
body.woocommerce-checkout.page .post-content .woocommerce-additional-fields > h3 {
    display: none;
}
body.woocommerce-checkout.page .post-content table.shop_table.woocommerce-checkout-review-order-table {
    margin: 0;
}
body.woocommerce-checkout.page .post-content div#order_review table.shop_table.woocommerce-checkout-review-order-table {
    border-top: 0px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    margin: 0 0 8px;
    padding: 10px 0;
}
body.woocommerce-checkout.page .post-content .form-row.place-order button#place_order {
    width: 100%;
    margin: 0 auto 20px;
    border-radius: 5px;
    max-width: 250px;
    font-weight: 400;
    border: 0;
    float: none;
    display: block;
}
body.woocommerce-checkout.page .post-content > .woocommerce {
    position: relative;
}
body.woocommerce-checkout.page .post-content .cart_top_action {
    font-size: 17px;
    position: absolute;
    bottom: 100%;
    padding-bottom: 5px;
    width: 100%;
}
body.woocommerce-checkout.page .post-content a.devvn_buy_more {
    position: relative;
}

body.woocommerce-checkout.page .post-content .cart_top_action > span {
    float: right;
    display: block;
    position: relative;
    top: 4px;
}

body.woocommerce-checkout.page .post-content .devvn_checkout_tky_title {
    padding: 10px 20px 10px 60px;
    background: url(../images/checkout_pattern.png);
    border-bottom: 1px solid #ddd;
    position: relative;
    min-height: 46px;
}
body.woocommerce-checkout.page .post-content .devvn_checkout_tky_title p {
    margin: 0;
}
body.woocommerce-checkout.page .post-content .devvn_checkout_tky_title:before {
    content: "";
    width: 32px;
    height: 32px;
    background: url(../images/cart.png) no-repeat;
    top: 50%;background-size: contain;
    left: 15px;
    margin-top: -16px;
    position: absolute;
}
body.woocommerce-checkout.page .post-content .devvn_checkout_tky_title.thankyou-order-failed:before {
    background: url(../images/remove.png) no-repeat;
}
.devvn_checkout_tky_content {
    padding: 10px 20px;
}
body.woocommerce-checkout.page .post-content ul.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details {
    list-style: none;
    margin: 0 0 20px;
    padding: 0;
    overflow: hidden;
}
body.woocommerce-checkout.page .post-content ul.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details li {
    width: 49%;
    float: left;
    margin: 0 0 20px 0;
    padding: 0;
    clear: both;
    text-transform: uppercase;
    font-size: 14px;
    border: 0;
}
body.woocommerce-checkout.page .post-content ul.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details li:nth-child(2n) {
    clear: none;
    float: right;
}
body.woocommerce-checkout.page .post-content ul.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details li strong {
    text-transform: none;
    display: block;
    font-size: 14px;
}
.devvn_checkout_tky_content.text-center {
    text-align: center;
}
a.button.tieptuc_muasam {
    background: #468f00;
    color: #fff;padding: 8px 10px;
    margin-bottom: 10px;
}

/*FSE Product category List*/
.devvn_product_cat_list .product-category-list ul.devvn_product_cat_list_child a {
    color: #222;
    font-size: 14px;
    line-height: 23px;
    display: block;
}
.devvn_product_cat_list .product-category-list ul.devvn_product_cat_list_child a:hover{
    color: var(--primary-color);
}
.devvn_product_cat_list .product-category-list .col-inner strong a {
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
    color: var(--primary-color);
}
.devvn_product_cat_list .product-category-list ul.devvn_product_cat_list_child li {
    margin: 0;
}
body.woocommerce-checkout.page .post-content a.view_all_cat {
    font-weight: 700;
}
/*#FSE Product category List*/

body.woocommerce-checkout.page .post-content .font-size-14{
    font-size: 14px;
}

@media (max-width: 849px){
    body.woocommerce-checkout.page .post-content .shop_table .product-remove {
        width: auto;
    }
    body.woocommerce-checkout.page .post-content table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents, 
    body.woocommerce-checkout.page .post-content table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents tbody, 
    body.woocommerce-checkout.page .post-content table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents tfooter, 
    body.woocommerce-checkout.page .post-content table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents td, 
    body.woocommerce-checkout.page .post-content table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents th, 
    body.woocommerce-checkout.page .post-content table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents tr {
        display: block;
        border: 0;
    }
    body.woocommerce-checkout.page .post-content table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents tr {
        border-bottom: 1px solid #ececec;
        overflow: hidden;
    }
    body.woocommerce-checkout.page .post-content table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents td.product-thumbnail {
        float: left;
    }
    body.woocommerce-checkout.page .post-content table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents td.product-name {
        overflow: hidden;
        padding: 10px 0 10px 10px;
    }
    body.woocommerce-checkout.page .post-content table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents td.product-quantity {
        overflow: hidden;
        text-align: left !important;
        padding: 0 0 5px 10px;
    }
    body.woocommerce-checkout.page .post-content form.woocommerce-cart-form,
    body.woocommerce-checkout.page .post-content form.checkout.woocommerce-checkout{
        padding: 10px;
    }
    body.woocommerce-checkout.page .post-content .cart_top_action {
        font-size: 12px;
    }
    body.woocommerce-checkout.page .post-content .message-container.container.success-color.medium-text-center {
        font-size: 14px;
        text-align: left !important;
    }
    body.woocommerce-checkout.page .post-content .woocommerce-notices-wrapper ul, 
    body.woocommerce-checkout.page .post-content  .woocommerce-notices-wrapper .woocommerce-message.message-wrapper {
        padding: 10px;
    }
    body.woocommerce-checkout.page .post-content table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents tr.woocommerce-cart-form__cart-item.cart_item .product-remove {
        text-align: center;
    }
    body.woocommerce-checkout.page .post-content td.product-quantity .product-price {
        display: inline-block;
        margin: 3px 10px 0 0;
        float: left;
    }
    body.woocommerce-checkout.page .post-content table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents tr.woocommerce-cart-form__cart-item.cart_item {
        position: relative;
    }
    .devvn_cart_item_thumb img, .shop_table .cart_item td.product-thumbnail img {
        width: 80px;
    }
    body.woocommerce-checkout.page .post-content .shop_table .cart_item td.product-name a {
        text-align: left;
        display: block;
        word-break: break-word;
        line-height: 20px;
    }
    .woocommerce table.shop_table_responsive tr td::before, .woocommerce-page table.shop_table_responsive tr td::before{
        display: none;
    }
    .woocommerce-cart-form__cart-item .product-quantity .quantity {
        margin: 0 !important;
        float: right !important;
    }
    .woocommerce table.shop_table_responsive tr:nth-child(2n) td, .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
        background: transparent;
    }
    .woocommerce-cart main#main,
.woocommerce-checkout main#main,
body.woocommerce-checkout .mgg_main{
        background: #fff;
    }
}

.woocommerce .products ul::after, .woocommerce .products ul::before, .woocommerce ul.products::after, .woocommerce ul.products::before {
  content: ' ';
  display: none; }

table {
  width: 100%; }

table td, table th {
  word-break: break-all; }

table td:last-child, table th:last-child {
  border-right: 0; }

table tr {
  vertical-align: middle; }

.woocommerce table.shop_table {
  border-collapse: collapse !important; }

.woocommerce table.shop_table td {
  /*     min-width: 100px; */ }
  input[type=color], input[type=date], input[type=datetime], input[type=datetime-local], input[type=email], input[type=month], input[type=number], input[type=password], input[type=range], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], textarea {
    color: #666;
    background: #fafafa;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #bbb;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: block;
    padding: 0.7em;
    width: 100%;
    max-width: 100%;
}
.billing-info{
    margin-bottom: 15px;
}
button#place_order {
    background-color: #f59000;
}
body.woocommerce-checkout.page .post-content .form-row.place-order button#place_order {
    width: 100%;
    margin: 0 auto 20px;
    border-radius: 5px;
    max-width: 250px;
    font-weight: 400;
    border: 0;
    float: none;
    display: block;
}
.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
    float: none;
    margin: 0 auto;
}
#place_order{
        padding: 10px;
    color: #fff;
    font-size: 19px;
}
#cam_ket {
  margin-top: 50px;
  background: #ebf8ed;
  padding: 20px 0; }
  @media screen and (max-width: 768px) {
    #cam_ket {
      padding-bottom: 10px; } }
  @media screen and (max-width: 768px) {
    #cam_ket .item {
      margin-bottom: 10px; } }
  @media screen and (max-width: 600px) {
    #cam_ket .item {
      text-align: center; }
      #cam_ket .item .row {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        #cam_ket .item .row > * {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          max-width: 100%; }
          #cam_ket .item .row > *.icon {
            margin-bottom: 10px; } }
  #cam_ket .item .text .desc {
    font-size: 14px;
    line-height: 18px; }
    #cam_ket .item .text .desc a {
      color: #54aa00; }
  #cam_ket .item .text .title {
    font-weight: 700;
    color: #54aa00;
    line-height: 20px; }
  #cam_ket .item .icon img {
    width: 48px; }
.row.s-small {
    margin-right: -5px;
    margin-left: -5px;
}
.row.small {
    margin-right: -10px;
    margin-left: -10px;
}
.row-camket {
justify-content: space-between;
    display: flex;
   
}
#cam_ket .item .text .title {
    font-weight: 700;
    color: #54aa00;
    line-height: 20px;
}
#cam_ket .item .text .desc {
    font-size: 14px;
    line-height: 18px;
}
#cam_ket .item .icon img {
    width: 48px;
}
.row.align-items-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.form-control{
    font-size: 16px;
    height: 40px;
}
label {
    margin-bottom: 10px;
}
@media(max-width: 767px){
    .woocommerce-checkout main#main div#content .large-12.col .col-inner, body.woocommerce-checkout.page .post-content{
        max-width: 90%;
    }
}