	.logo_company_con{
		position:absolute;right: 15%;top:22%;max-width: 300px;
	}
	.intro_company{
		background-color: #2e2e2e;padding:70px 0;
	}
	.description_intro_company{
		color: #fff;text-align: justify;    font-size: 18px;
	}
	.title_intro_company{
		font-family: 'Montserrat-ExtraBold';font-size: 29pt;color: #fff;margin-bottom:40px;
	}
	.tamnhin_sumenh{
		background-color: #393939;padding:50px 0;color: #fff;
	}
	.around_tnsm{
		border:2px solid #fff;padding:15px;position:relative;    min-height: 180px;
	}
	.around_tnsm img{
background-color: #393939;
    max-width: 70px;
    position: absolute;
    top: -12px;
    padding: 0 10px;
	}
	.around_tnsm.sumenh img{
		    top: -25px;
	}
	.around_tnsm h3{
			font-family: 'Montserrat-ExtraBold';font-size: 15pt;
	}
	.title_tnsm{
		font-family: 'Montserrat-ExtraBold';font-size: 29pt;line-height: 48px;
	}
	.sanphamsxvaphanphoi{
		background-color: #2e2e2e;padding:70px 0;
	}
	.name_sanpham{
		background-color: #393939;min-height: 100px;text-align: center;
		display:inline-flex;width: 100%;
    align-items: center;position:relative;
	}
	.name_sanpham i{
		position:absolute;left: 0;right:0;    top: -15px;
    color: #fff;
    font-size: 24px;
	}
	.name_sanpham i:before{
		    background: #000;
    border-radius: 50%;
    padding: 6px;
	}
	.name_sanpham a{
		    font-size: 24px;
    line-height: 34px;color: #fff;margin:0 auto;text-transform: uppercase;font-family: 'Montserrat-Medium';
	}
	.title_spsxvapp{
		color: #fff;text-transform: uppercase;text-align: center;margin-bottom: 40px;font-family: 'Montserrat-ExtraBold';font-size: 29pt;
	}
	.name_sanpham a:hover{
		color: #fff200;
	}
.col-spdv{
	margin-bottom: 30px;
}
.hieuungzoom_bg{
  position: relative;
 opacity:1;
   -webkit-transition: opacity 200ms linear;
   -moz-transition: opacity 200ms linear;
   -o-transition: opacity 200ms linear;
   -ms-transition: opacity 200ms linear;
   transition: opacity 200ms linear;
}
@-webkit-keyframes breath {
 0%   {  background-size: 110% auto; }
 50%  {  background-size: 130% auto; }
 100% {  background-size: 110% auto; }      
}
.hieuungzoom_bg:hover{
   opacity:0.8;
   -webkit-transition: opacity 200ms linear;
   -moz-transition: opacity 200ms linear;
   -o-transition: opacity 200ms linear;
   -ms-transition: opacity 200ms linear;cursor: pointer;
   transition: opacity 200ms linear;
 -webkit-animation: breath 5s linear infinite;
}
.truycap_webiste{
	margin:40px 0;
}
.truycap_webiste a{
	border:2px solid #fff;padding:10px 35px;color: #fff;font-family: 'Montserrat-Bold';
}
.truycap_webiste a:hover{
	color: #fff200;background-color: #25aae1;
}
.dong_gioithieu{
	margin-bottom: 50px;
}
.dichvu_quangcaotructuyen{
	background-color: #2e2e2e;padding:70px 0;color: #fff; 
}
.around_dv{
background-color: #393939;        min-height: 325px;padding: 20px 30px;
}
.around_border_dv{
	    position: absolute;
    height: 89%;
    border: 1.5px solid #f0f0f0;
    width: 85%;
    margin: 0 auto;
    left: 0;
    right: 0;  transition: all 1s;  
    top: 5%;
    z-index: 9;
}
.around_dv h3{
	margin: 20px 0;font-family: 'Montserrat-Medium';    line-height: 32px;
}
.around_dv ul li{
	background:url('../images/icon_check.png')left no-repeat;
	padding-left: 40px;background-size: 25px;    line-height: 32px;
}
.dichvu_quangcaotructuyen .col-sm-4{
	margin-bottom: 30px;
}
.dichvu_quangcaotructuyen .col-sm-4:first-child{
	min-height: 325px;display: inline-flex;
    align-items: center;
}
.dichvu_quangcaotructuyen .col-sm-4:first-child .title_dv{
font-family: 'Montserrat-ExtraBold';font-size: 29pt;margin:0 auto;
}
.dichvu_quangcaotructuyen .col-sm-4.yellow .around_border_dv{
    border: 1.5px solid #ffcc33;
}
.dichvu_quangcaotructuyen .col-sm-4.yellow .around_dv h3{
	font-family: 'Montserrat-ExtraBold';color: #ffcc33;
}
.dichvu_quangcaotructuyen .col-sm-4.yellow .around_dv ul li{
background:url('../images/icon_check_yellow.png')left no-repeat;    background-size: 25px;
}
.around_dv:hover .around_border_dv {
    height: 86%!important;top:7%;width: 80%!important;    border: 1.5px solid #ed1c24!important; -webkit-transform: scale(1.1); transform: scale(1.1); 
}
@media(max-width: 767px){
	.logo_company_con {
    top: 50%;
    max-width: 100px;
}
.title_intro_company {
	font-size: 24pt;
}
.description_intro_company{
	margin:20px 0;
}
.tamnhin_sumenh {
    padding: 30px 0;
}
.title_tnsm{
		font-size: 24pt;text-align: center;margin-bottom: 30px;
}
.around_tnsm{margin-bottom: 40px;}
.title_spsxvapp{font-size: 24pt;}
.sanphamsxvaphanphoi {padding: 30px 15px;}

.dichvu_quangcaotructuyen .col-sm-4:first-child {min-height: 70px;}
.dichvu_quangcaotructuyen { padding: 40px 0;}
.dichvu_quangcaotructuyen .col-sm-4:first-child .title_dv {font-size: 24pt;}
.around_dv{min-height: 200px}

}