.table tbody tr td{

	vertical-align: middle;

}

.table.dataTable thead .sorting_desc {

    background:  none !important;

}

table.dataTable thead .sorting_asc{background:  none !important;}

table.dataTable thead .sorting {

    background:  none !important;

}

.search{

    padding-bottom: 30px;

}



h1 {

    text-transform: uppercase;

    color: #3c8dbc;

    border-bottom: solid 1px;

    padding-bottom: 18px;

    margin-top: 5px;

    font-size: 24px !important;

}

div.mce-fullscreen {

    position: fixed;

    /*top: 10%;

    left: 10%;*/

    width: 100%;

    height: auto;

    z-index: 9999;

}

.upexcel {

    float: left;

}



.upexcel input {

    float: left;

}



.upexcel button {}



.upexcel {

    padding: 20px 17px;

    border: solid 1px;

    width: 100%;

}

.upexcel span {

    float: left;

    color: red;

    font-weight: bold;

    font-size: 16px;

}
.xuatexcel {
    margin-bottom: 20px;
}

.xuatexcel button {
    margin-top: 25px;
}