section#flash-sale {clear: both;}
section#flash-sale .flash-sale_head {display: flex;justify-content: space-between;width: 100%;align-items: center;background-color: #d81313;border-radius: 10px 10px 0px 0px;}
section#flash-sale .flash-sale_head .sale_head-title {padding-left: 20px;font-size: 30px;font-weight: 600;color: #fff;box-shadow: #f9e600}
section#flash-sale .flash-sale_head .sale_head-countdown {}
section#flash-sale .flash-sale_head .sale_head-countdown .clock {}
section#flash-sale .flash-sale_head .sale_head-countdown .clock ul {width: 30px;height: 40px}
section#flash-sale .flash-sale_head .sale_head-countdown .clock ul li a div div.inn {font-size: 24px;background-color: #000;color: #fff}
section#flash-sale .flash-sale_head .sale_head-countdown .clock ul li {line-height: 40px;}
section#flash-sale .flash-sale_head .sale_head-countdown .clock .flip-clock-dot {width: 8px;height: 8px;background-color: #000}
section#flash-sale .flash-sale_head .sale_head-countdown .clock .flip-clock-divider {height: 47px;}
section#flash-sale .flash-sale_head .sale_head-countdown .clock .flip-clock-dot.top {top: 15px}
section#flash-sale .flash-sale_head .sale_head-countdown .clock .flip-clock-dot.bottom {bottom: 9px;}
section#flash-sale .flash-sale_head .sale_head-countdown .clock .flip-clock-divider .flip-clock-label {display: none;}
section#flash-sale .flash-sale_body {}
section#flash-sale .flash-sale_body .bx-product {box-shadow: 0px 7px 13px 2px #c3c3c3;}
@media(max-width: 767px) {section#flash-sale {}
	section#flash-sale .flash-sale_head {display: flex;flex-direction: column; justify-content: space-between;width: 100%;align-items: center;background-color: #d81313;border-radius: 10px 10px 0px 0px;}
	section#flash-sale .flash-sale_head .sale_head-title {padding-left: 20px;font-size: 30px;font-weight: 600;color: #fff;box-shadow: #f9e600}
	section#flash-sale .flash-sale_head .sale_head-countdown {}
	section#flash-sale .flash-sale_head .sale_head-countdown .clock {}
	section#flash-sale .flash-sale_head .sale_head-countdown .clock ul {width: 25px;height: 35px;}
	section#flash-sale .flash-sale_head .sale_head-countdown .clock ul li a div div.inn {font-size: 18px;background-color: #000;color: #fff}
	section#flash-sale .flash-sale_head .sale_head-countdown .clock ul li {line-height: 40px;}
	section#flash-sale .flash-sale_head .sale_head-countdown .clock .flip-clock-dot {width: 8px;height: 8px;background-color: #000}
	section#flash-sale .flash-sale_head .sale_head-countdown .clock .flip-clock-divider {height: 47px;}
	section#flash-sale .flash-sale_head .sale_head-countdown .clock .flip-clock-dot.top {top: 15px}
	section#flash-sale .flash-sale_head .sale_head-countdown .clock .flip-clock-dot.bottom {bottom: 9px;}
	section#flash-sale .flash-sale_head .sale_head-countdown .clock .flip-clock-divider .flip-clock-label {display: none;}
	section#flash-sale .flash-sale_body {}
	section#flash-sale .flash-sale_body .bx-product{}
}
