@media screen and (min-width:769px) {
  .fixed_contact {
    position:fixed;
    left:10px;
    bottom:10px;
    z-index:12;
  }
  .fixed_contact .icon.buy_now {
    display:block;
  }
  .fixed_contact .icon.mua-theo-don {
    display:none;
  }
  .fixed_contact.sp-thuoc .icon.buy_now {
    display:none;
  }
  .fixed_contact.sp-thuoc .icon.mua-theo-don {
    display:block;
  }
  .fixed_contact.external .icon.buy_now,
  .fixed_contact.external .icon.mua-theo-don {
    display:none;
  }
  .fixed_contact .icon {
    position:relative;
    line-height:inherit;
    margin-bottom:10px;
    padding:5px;
    display:block;
    -webkit-transition:all 0s ease;
    -o-transition:all 0s ease;
    transition:all 0s ease;
    border-radius:5px;
    background:#54aa00;
  }

  .fixed_contact .icon.mua-theo-don,
  .fixed_contact .icon.buy_now {
    display:none;
  }
  .fixed_contact .icon.buy_now {
    display: block;
    border: 0;
}
  .fixed_contact .icon span {
    position:absolute;
    color:#fff;
    border-radius:0 5px 5px 0;
    padding-right:10px;
    left:40px;
    top:0;
    line-height:40px;
    width:auto;
    display:none;
    word-break:initial;
    white-space:nowrap;
  }
  .fixed_contact .icon img {
    max-width:30px;
    max-height: 30px;
  }
  .fixed_contact .icon:hover {
    border-radius:5px 0 0 5px;
    -webkit-transition:all 0s ease;
    -o-transition:all 0s ease;
    transition:all 0s ease;
  }
  .fixed_contact .icon:hover span {
    display:block;
    background:#54aa00;
  }
}

@media screen and (max-width:768px) {
  #cs_chat_iframe {
    bottom:60px !important;
    right:5px !important;
  }
  .fixed_contact .icon.buy_now {
    display: block;
}

 .fixed_contact {
    position: -webkit-sticky;
    position: sticky;
    left: 32px;
    bottom: 0px;
    width: 100%;
    height: 50px;
    padding: 7px 0;
    background: #54aa00;
    z-index: 12;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
  .fixed_contact .icon.buy_now {
    display:block;
  }
  .fixed_contact .icon.mua-theo-don {
    display:none;
  }
  .fixed_contact.sp-thuoc .icon.buy_now {
    display:none;
  }
  .fixed_contact.sp-thuoc .icon.mua-theo-don {
    display:block;
  }
  .fixed_contact.external .icon.buy_now,
  .fixed_contact.external .icon.mua-theo-don {
    display:none;
  }
  .fixed_contact .icon {
    position:relative;
    -webkit-box-flex:1;
    -ms-flex-positive:1;
    flex-grow:1;
    color:#fff;
    text-align:center;
    font-size:13px;
    line-height:inherit;
    background:transparent;
    padding:0;
    margin:0;
  }
  .fixed_contact .icon.mua-theo-don,
  .fixed_contact .icon.buy_now {
    display:none;
  }
  .fixed_contact .icon img {
    max-width:20px;
    max-height: 20px;
  }
}