
.bx-cart{
    width: 100%;
    height: auto;
    float: left;
}
.content-cart{
    width: 100%;
    height: auto;
    float: left;
}
.content-cart .woocommerce{
    width: 100%;
    height: auto;
    float: left
}
.content-cart .woocommerce-notices-wrapper{
    width: 100%;
    height: auto;
    float: left;
}
.content-cart .woocommerce-message{background: #8fae1b;border-top-color: #729100;color: #FFF;}
.content-cart .woocommerce > strong{
    background: #FFF;
    width: 100%;
    height: auto;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    border: #e5e5e5 solid 1px;
}
.content-cart .woocommerce .product-thumbnail img{
    width: 100px
}
.content-cart .woocommerce th, .content-cart .woocommerce td {
    border-bottom: 1px solid #ddd;
}
.content-cart .woocommerce table.woocommerce-cart-form__contents th {
    background: #f9a11a;
    color: #FFF;
}
.content-cart .woocommerce .cart_totals h2{
    font-size: 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: normal;
}
.content-cart .woocommerce .wc-proceed-to-checkout a{
    background: rgba(246,141,3,1);
    background: -moz-linear-gradient(top, rgba(246,141,3,1) 0%, rgba(252,115,24,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(246,141,3,1)), color-stop(100%, rgba(252,115,24,1)));
    background: -webkit-linear-gradient(top, rgba(246,141,3,1) 0%, rgba(252,115,24,1) 100%);
    background: -o-linear-gradient(top, rgba(246,141,3,1) 0%, rgba(252,115,24,1) 100%);
    background: -ms-linear-gradient(top, rgba(246,141,3,1) 0%, rgba(252,115,24,1) 100%);
    background: linear-gradient(to bottom, rgba(246,141,3,1) 0%, rgba(252,115,24,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f68d03', endColorstr='#fc7318', GradientType=0 );
}
.content-cart .woocommerce-checkout h3{
    color: #f9a11a;
    border-bottom: #f9a11a solid 1px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.content-cart .woocommerce-checkout-review-order{
    background: #FAFAFA;
    width: 100%;
    height: auto;
    float: left;
}
.content-cart .woocommerce-input-wrapper input{
    width: 100%;
    height: 35px;
    float: left;
    border: #CCC solid 1px;
    padding-left: 5px;
    font-size: 14px;
}
.content-cart .woocommerce-input-wrapper textarea{
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 14px;
    resize: none;
    border: #CCC solid 1px;
}
.content-cart .form-row-first{
    width: 100% !important;
}
.content-cart .form-row label{
    font-size: 14px;
}
.content-cart .woocommerce table.shop_table td{
    background: #FFF !important;
    border-top: 0 !important;
}
.content-cart .woocommerce table.shop_table tfoot th{
    background: #FFF !important;
    border-top: 0 !important; 
}
.page{width: 100%;height: auto;float: left;margin: 20px 0;}
.page ul{}
.page ul li{width: 35px;height: 35px;background: #FFF;margin-right: 5px;float: left;text-align: center;line-height: 35px;border: #CCC solid 1px;}
.page ul li.active{background: #CCC;border: #AAA solid 1px;}
.page ul li a{color: #000;}
.page ul li span{}

header .bx-categories .bx-list-text-link a img{
    max-width: 28px;max-height: 24px;margin-right: 7px;
}

@media(min-width: 992px) and (max-width:1110px){
    header .bx-logo-search .bx-search {
    margin-left: 30px;
}
header .bx-categories .bx-list-text-link a {
    padding: 0 5px;
}
header .bx-categories .bx-list-text-link a img{
    max-width: 20px;max-height: 18px;margin-right: 5px;
}



}




@media(max-width:768px){
    .container{max-width: 100%;}
    .row{display: block}
    .col-6{width: 100%}
header .bx-logo-search .logo{width: 40%;}

    header .bx-logo-search .logo img{padding-left: 10px;    max-width: 100%;}
    header .bx-top-header{height:auto}
    header .bx-top-header img{width: 100%;height:auto}
    header .bx-logo-search .option{display: none}
    header .bx-logo-search .bx-search{margin-left: 0;width:auto;float: right;margin-right: 5px;}
    header .bx-logo-search .bx-search input{width: 200px;}
    header .bx-categories .header{width: 100%;}
    header .bx-categories .header h3{position: relative}
    header .bx-categories .header h3 i:last-child{position: absolute;right: 0;top: 15px;}
    header .bx-categories .content-categories.active{display: none}
    .bx-slider .main-slider{width: 100%;padding-left: 0}
    .bx-slider .main-slider .slider img{height: auto}
    .bx-slider .main-slider .slider{height:auto;}
    .bx-slider .main-slider .list-text-slider{height:auto;}
    .bx-slider .main-slider .list-text-slider ul li{width: 100%;text-align: left;height: 35px;line-height: 35px;border-bottom: #CCC solid 1px;border-right: 0;}
    .bx-slider .main-slider .list-text-slider ul li.active::before{width: 3px;height: 100%;top: 0;}
    .bx-slider .news-video{width: 100%;margin-left: 0;background: #E8E8E8;}
    .bx-slider .news-video h3{border-bottom: #c7c7c7 solid 1px;}
    .bx-slider .news-video ul li{border-bottom: #f9f9f9 solid 1px;}
    .bx-product .list-product .item{width: 50%;height:365px;border-bottom: #f3f3f3 solid 1px;}
    .bx-banner-home .item{width: 100%;}
    .bx-news .list-news .news-sm .col-6{width: 50%}
    .bx-news .list-news .item img{min-height: 240px;object-fit: cover;}
    .bx-news .list-news .news-sm .item img{min-height: 240px;}
    .bx-news .header h2{padding-left: 10px;}
    .bx-news .list-news .col-6:nth-child(1){padding-right: 0px;}
    footer{    padding: 0 15px;padding-top: 40px;}
    footer .col-3{width: 100%;margin-bottom: 15px;}
    .bx-main .bx-left{width: 100%}
    .product-cate .item{width: 50% !important}
    .bx-feature-product .item{width: 100% !important;}
    .bx-main .bx-right{width: 100%;padding: 0 5px !important}
    .bx-main{border-bottom: 0}
    .bx-list-backlink{padding: 0 5px;}
    .bx-product-detail .info-product .images-control{width: 100%;}
    .bx-product-detail .info-product .images-control .list-images{width: 100%;}
    .bx-product-detail .info-product .info{width: 100%;padding-left: 0}
    .bx-product-detail .cam-ket{width: 100%;margin-left: 0;}
    .bx-product-detail{padding: 15px 5px;}
    .bx-product-detail .content-product .bx-right .bx-news-wg{display: none}
    .bx-product-detail .content-product .bx-left{width: 100%}
    .bx-product-detail .content-product .bx-right{width: 100%;background: #FFF;margin-top: 10px;padding: 5px !important;}
    .review-5-star{display: none}
    .bx-product-detail .content-product .comment{display: none}
    header .bx-categories .content-categories{width: 100%}
    .bx-main-news .bx-left{display: none}
    .bx-main-news .bx-center{width: 100%;margin-left: 0;padding: 0 5px;box-sizing: border-box;}
    .bx-main-news .bx-right{width: 100%;padding: 0 5px;}
    .list-cate-product-news{overflow: hidden}
    .bx-detail-news .news-related .list-item .item{width: 50%}
    header .bx-categories .bx-list-text-link{display: none}
    /*.bx-product .list-product .item .info h3{height: 70px;overflow: hidden;}*/
    .fullparameter{width: 100%;padding-left: 0;}
    .fullparameter .scroll{padding: 40px 10px 0 10px;}
    .fullparameter .scroll .specs{width: 100%;padding: 10px 0 10px 0;}
    .bx-product .list-product .item .info .sale-att{height: 35px;overflow: hidden;}
    .bx-zalo{width: auto;
left: 10px;bottom: 120px;}
.bx-zalo a{width: 50px;
margin-bottom: 0;
margin-right: 10px;}
.bx-zalo a img{}
.call-now-button{bottom: 75px !important;}
}



